@{
    ViewData["Title"] = "Add an Author";
}
@model AuthorEditViewModel
@section header{
    <meta name="description" content="Add an author to the LibraryApp database." />
}
<h1>@Model.Heading</h1>
<hr />
@Html.AntiForgeryToken()
<form asp-action="Create" asp-controller="Authors">
    <input type="submit" value="Submit" class="btn btn-default" />
</form>